/* Cool for U Ice Creams-Contact */

   #box{
  margin-left:auto;
  margin-right:auto;
  border:3px solid #FFFFFF;
   width:96%;
   background-color:#33CCFF;
       }
       .heading{
       background:#FF8C00;
       width:100%;
       text-align:center;
       padding-top:1%;   
       }
      h1{
    font-size:34px;
    font-weight:bolder;
    color:#990033;
    text-align:center;
    font-family:Arial, Verdana, Helvetica, sans-serif;
    margin-bottom:2%;
    margin-top:3%;
     }
     h2{
     font-family:Arial, Verdana, Helvetica, sans-serif;
     text-align:center;
     font-size:28px;
     margin-top:5%;
     color:#3300FF;
      margin-bottom:3%;
     }
      .linking{
    text-align:center;
    font-size:21px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    margin-top:3%; 
     }
     .contacting{
    text-align:left;
    font-size:17px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    padding:1%;
    margin-left:2%;
    padding-top:3%;
     }
    .call{
    text-align:left;
    font-size:17px;
    font-family:Verdana, Arial, Helvetica, sans-serif; 
    padding:1%;
    margin-left:2%;
    padding-top:14%;
     }
     .form{
      text-align:left;
    font-size:17px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
   padding:1%;
   margin-bottom:1%;
   margin-left:2%;
   padding-top:16%;
     }
     .backtotop{
    text-align:center;
    font-size:16px;
    font-family:Verdana, Arial, Helvetica, sans-serif; 
    padding-top:4%;
    margin-top:2%;
     } 
       a:link{
      background-color:#BDB76B;/*DarkKhaki- From Named Colors of PsPad*/
       color:#003399;
      }
      a:hover{
       background-color:#0000FF;
       color:#FF3333;
      }
      input:focus{
      background-color:#33CC00;   
      }
      fieldset{
        margin-right:auto;
          margin-left:auto;
          width:70%;
          margin-top:1%; 
          margin-bottom:2%;
          background-color:#D2691E;/*Chocolate-Named colours section of colours in PsPad*/
          border-radius:4%;
      }                       
      legend{
      font-size:18px;  
      font-family:Arial,Verdana,Helvetica,sans-serif;
      background:#CC9999; 
      border-radius:7%;
      }
      input{
      border-radius:2%;
      }
       .picsnap{
      float:right;
      opacity:0.9;
      padding-bottom:50%;
      }